* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: aliceblue;
}

#changes {
  width: 50%;
  margin: 0 auto 1em;
}

#accordionFlushExample {
  border: 1px solid black;
}

#adjusts {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#images {
  width: 100%;
  margin: 0 auto;
}

h5,p {
  color: red;
  font-weight: bolder;
}

#card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  gap: 1em;
} 
